#!/usr/bin/env php
<?php
/**
 * Command Line Constroller for Sonos
 */
require("sonos.class.php");

if (!isset($argv[1])) {
    echo "USE: " . $argv[0] . " <device> <command> <parameter>\n";
    echo $argv[0] . " <device> help for use.\n";
    exit;
}

$sonos = new SonosController($argv[1]);
$sonos->control($argv[2], isset($argv[3]) ? $argv[3] : false, isset($argv[4]) ? $argv[4] : false);
