.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 600px !important;
}
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
form {
    margin:0;
}
#albumart {
    width:180px;
    height:180px;
    border:1px solid black;
    background-size:180px 180px;
}